<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <form action="/contact/<%=product.id %>/edit?_method=PATCH" method="post" class="container">
      <div class="mb-3">
        <label for="conatctname" class="form-label">Contact Name-</label>
        <input type="text" class="form-control" id="contactname" name="contactname" value="<%=product.contactname %>" required readonly>
      </div>
      <div class="mb-3">
        <label for="phoneno" class="form-label">Phone No-</label>
        <input type="number" class="form-control" id="phoneno" name="phoneno" value="<%=product.phoneno %>" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email-</label>
        <input type="email" class="form-control" id="email" name="email" value="<%=product.email %>" required>
      </div>
      <div class="mb-3">
        <label for="imageurl" class="form-label">Image URL-</label>
        <input type="text" class="form-control" id="imageurl" name="imageurl" value="<%=product.imageurl %>" required>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>